@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto";
  /* Uncomment this overflow if it's necessary */
  overflow: hidden;
}
