body {
    background: #428bca;
    overflow: hidden;
  }
  
  .form-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-page .form {
    width: 30em;
    height: 30em;
  }
  .form-page .form .checkbox {
    width: 75px;
    height: 75px;
    margin: 50px auto;
    position: relative;
  }
  .form-page .form .checkbox input[type=checkbox] {
    width: 75px;
    height: 75px;
    margin: 0;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
  }
  .form-page .form .checkbox input[type=checkbox] + label {
    background: #d9534f;
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transform: rotate(0deg);
    transition: background 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .form-page .form .checkbox input[type=checkbox] + label::before, .form-page .form .checkbox input[type=checkbox] + label::after {
    content: "";
    background: black;
    width: 10%;
    height: 90%;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1), background 0.25s ease;
  }
  .form-page .form .checkbox input[type=checkbox] + label::before {
    transform: translate(450%, 5%) rotate(45deg) scalex(200%);
  }
  .form-page .form .checkbox input[type=checkbox] + label::after {
    transform: translate(450%, 5%) rotate(-45deg) scalex(200%);
  }
  .form-page .form .checkbox input[type=checkbox]:checked + label {
    background: #5cb85c;
    transform: rotate(360deg);
  }
  .form-page .form .checkbox input[type=checkbox]:checked + label::before {
    transform: translate(630%, 5%) rotate(30deg) scaley(110%);
  }
  .form-page .form .checkbox input[type=checkbox]:checked + label::after {
    transform: translate(245%, 40%) rotate(-60deg) scaley(50%);
  }
  .form-page .form .checkbox:hover input[type=checkbox] + label::before, .form-page .form .checkbox:hover input[type=checkbox] + label::after {
    background: #ffd56f;
  }